@model GasPrice.Web.Models.FaucetViewModel

<h3>Transaction sent!</h3>

<p>tR-RBTC are on the way. Check the transaction in the <a href="https://explorer.testnet.rsk.co/tx/@Model.TransactionHash" target="_blank">RSK Testnet Explorer</a></p>

<p>Hash: <a href="https://explorer.testnet.rsk.co/tx/@Model.TransactionHash" target="_blank">@Model.TransactionHash</a></p>
