body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #102026;
    color: #1aad8d;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.github {
    margin: 10px;
    width: 30px;
    height: 30px;
}
.github path {
    fill: #1aad8d;
}

footer {
    text-align: center;
}

.panel-default > .panel-heading {
    color: #1aad8d;
    background-color: #102026;
    border-color: #1aad8d;
}
.panel {
    background-color: #102026;
}
.panel-default {
    border-color: #1aad8d;
}
.navbar-inverse { 
    background-color: #102026;
}

input {
    background: #102026;
    border: 1px solid #1aad8d;
    border-radius: .25em;
    color: #1aad8d;
    height: 38px;
    font-size: 1em;
    outline: none;
    padding: 2px 10px;
    margin: 1px;
    width: 100%
}
input.error {
    border: 1px solid red;
}